{{! ---
block: b-loader
============================================

Requirements:
- (only hbs)

Options:
- loaderClasses {String} - Modifier classes

Important Notes:

--- }}


<div class="b-loader{{#if loaderClasses}} {{loaderClasses}}{{/if}}"
     data-js-module="loader"
     data-js-options='{
     	{{#each loaderJsOptions}}"{{optionsKey}}": {{#unless optionsObject}}"{{/unless}}{{{optionsValue}}}{{#unless optionsObject}}"{{/unless}}{{#if @last}}{{else}}, {{/if}}{{/each}}
     }'>
     {{> c-cta cta}}
</div>
