{{! ---
component: c-releases
============================================

Requirements:
- (only hbs)

Options:
- releasesContextClass {String} [default] - Just pass a string
- releasesClasses {String} - Modifier classes
- releasesJsModule {bool} - Js Module enabled?

Important Notes:

--- }}


<div class="c-releases{{#if releasesContextClass}}--{{releasesContextClass}}{{else}}--default{{/if}}{{#if releasesClasses}} {{releasesClasses}}{{/if}}"
	data-css="c-releases"
	{{#if releasesJsModule}} data-js-module="releases" {{/if}}
	{{#if releasesJsOptions}} data-js-options='{
		{{#each releasesJsOptions}}"{{optionsKey}}": {{#unless optionsObject}}"{{/unless}}{{{optionsValue}}}{{#unless optionsObject}}"{{/unless}}{{#if @last}}{{else}}, {{/if}}{{/each}}
	}'{{/if}}>
	<h2 class="releases__headline">{{headline}}</h2>
	<ul class="releases__list">
		{{#each data}}
			{{#times 10}}
				<li class="releases__item-wrapper">
					<div class="releases__item" data-js-atom="release-item">
						{{#with ../cover}}
							{{> c-figure}}
						{{/with}}
					</div>
					<ul class="releases__details" data-js-atom="release-details">
						<li class="releases__inside">
						{{#with ../this}}
							{{> b-release-details image=cover.image artist=cover.figcaption.caption release=cover.figcaption.subcaption}}
							<button class="releases__close" data-js-atom="close-button"></button>						
						{{/with}}
						</li>
					</ul>
				<!-- </li> Use HTML 5 Close to prevent whitespace -->
			{{/times}}
		{{/each}}
	</ul>
</div>
