{{! ---
block: b-newsletter
============================================

Requirements:
- (only hbs)

Options:
- newsletterClasses {String} - Modifier classes

Important Notes:

--- }}


<div class="b-newsletter{{#if newsletterClasses}} {{newsletterClasses}}{{/if}}">
	<div class="newsletter__wrapper">
		<h2 class="newsletter__headline">Wolfpack Newsletter</h2>
    	<div class="newsletter__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</div>
	     <div class="newsletter__fieldset">
	     	<input class="newsletter__input" placeholder="Trage Deine Emailadresse ein"></input>
	     	<button type="submit" class="newsletter__bottom">Eintragen</button>
	     </div>
	     <div class="newsletter__whatsapp">
	     	<div class="newsletter__icon"></div>
	     	<div class="newsletter__telephone">0151 412 834 27</div>
	     	<div class="newsletter__whatsapp-text">WOLFPACK WHATSAPP BROADCAST</div>
	     </div>
		</div>
</div>
