/* ===================================================
COMPONENT: PAGINATION
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-pagination"] {
	.pagination__list {
		list-style: none;
	}
	.pagination__list-item {
	}
	.pagination__list-element {
	}

	/*
	Modifiers
	----------------------- */
	.is-previous {
	}
	.is-next {
	}
	.is-hidden {
	}
	.is-active {
	}
	.is-disabled {
	}
}

/* ---------------------------------------------------
Context: Default
- REQUIREMENTS: veams-sass
--------------------------------------------------- */
.c-pagination--default {
	$pagination-blue: #333;
	$pagination-light: #ccc;
	$pagination-white: #fff;
	$transition-ease-method: ease;

	.is-hidden {
		display: none;
	}

	.pagination__list {
		width: auto;
	}

	.pagination__list-item {
		position: relative;
		float: left;
		margin-right: 5px;
		width: 50px;
		background-color: $pagination-white;
		text-align: center;
		border: 1px solid rgba($pagination-blue, 0.3);

		&:hover {
			border-color: $pagination-light;
		}

		&.is-active {
			border: 1px solid $pagination-light;
			box-shadow: inset 0 0 0 4px $pagination-light;
		}

		.is-hidden {
			@extend %hiddentext;

			display: block;
		}
	}

	.pagination__list-element {
		color: $pagination-blue;
		display: block;
		font-size: 1.9rem;
		font-weight: 400;
		line-height: 2;
		padding: 14px 0;
		text-decoration: none;
		transition: color 0.2s $transition-ease-method;

		&.is-active {
			color: $pagination-light;
			transition: color 0.2s $transition-ease-method;
		}

		&.is-previous,
		&.is-next {
			@include hidden-text;

			height: 66px;

			&::after {
				@extend %pseudo;
				@include centering(hv, relative);

				color: $pagination-blue;
				font-size: 1.8rem;
				opacity: 1;
			}
		}

		&.is-previous {
			&::after {
				content: '<'
			}
		}

		&.is-next {
			&::after {
				content: '>'
			}
		}
	}
}