{{! ---
component: c-selector
============================================

Requirements:
- (only hbs)

Options:
- selectorContextClass {String} [default] - Just pass a string
- selectorClasses {String} - Modifier classes

Important Notes:

--- }}


<div class="c-selector{{#if selectorContextClass}}--{{selectorContextClass}}{{else}}--default{{/if}}{{#if selectorClasses}} {{selectorClasses}}{{/if}}"
     data-css="c-selector"
     data-js-module="selector"
     {{#if selectorJsOptions}} data-js-options='{
     	{{#each selectorJsOptions}}"{{optionsKey}}": {{#unless optionsObject}}"{{/unless}}{{{optionsValue}}}{{#unless optionsObject}}"{{/unless}}{{#if @last}}{{else}}, {{/if}}{{/each}}
     }'{{/if}}>
     <input type="checkbox" id="trigger" class="selector__trigger-checkbox">
     <label class="selector__trigger-label" for="trigger">{{triggerName}}</label>
     <div class="selector__selects">
     	{{#each selects}}
     		{{#times 3}}
     		     	<div class="selector__selectable-container"><a class="selector__selectable" href="{{../target}}" title="{{../title}}">{{../title}}</a></div>
     		{{/times}}
     	{{/each}}

     </div>
</div>
