{{#beautifyHTML}}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
{{> b-version}}
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
    {{#block "metadata"}}
        {{> _metadata }}
    {{/block}}
    {{#block "styles"}}
        {{> _styles }}
    {{/block}}
</head>

<body class="{{bodyclass}}">
    <header class="r-header">
        <div class="header__inner">
            <div class="header__content">
                {{#with nav}}
                    {{> b-navigation }}
                {{/with}}
            </div>
        </div>
    </header>

    {{#wrapWith "c-offcanvas"}}
        {{#wrapWith "c-offcanvas__sidebar" }}
            {{#with nav.main}}
                {{> c-menu menuContextClass="offcanvas"}}
            {{/with}}
            {{#with nav.sub}}
                {{> c-menu menuContextClass="offcanvas" menuClasses="is-sub"}}
            {{/with}}
        {{/wrapWith}}
        {{#wrapWith "c-offcanvas__content" }}
            <div class="r-stage">
                {{#block "stage"}}{{/block}}
            </div>
            <main class="r-main">
                {{#block "main"}}{{/block}}
            </main>
            <section class="pre-footer">
                {{#block "pre-footer"}}{{/block}}
            </section>
            <footer class="r-footer">
                <div class="footer__inner">
                    {{#with footer}}
                        {{#with nav}}
                            {{> c-menu }}
                        {{/with}}
                        {{> b-footer-text }}
                        {{> b-logo logo}}
                    {{/with}}
                </div>
            </footer>    
        {{/wrapWith}}
    {{/wrapWith}}
    <!-- Scripts
	================================================== -->
    {{#block "scripts"}}
        {{> _scripts }}
    {{/block}}
</body>

</html>
{{/beautifyHTML}}
