{{! ---
component: c-video
============================================

Requirements:
- (only hbs)

Options:
- videoContextClass {String} [default] - Just pass a string
- videoClasses {String} - Modifier classes
- videoId {String} - YouTube Video ID

Important Notes:

--- }}


<div class="c-video{{#if videoContextClass}}--{{videoContextClass}}{{else}}--default{{/if}}{{#if videoClasses}} {{videoClasses}}{{/if}}" data-css="c-video">
    <div class="video__wrapper">
        <iframe width="560" height="315" class="lazyload" data-src="https://www.youtube.com/embed/{{videoID}}" frameborder="0" allowfullscreen></iframe>
    </div>
    {{#if videoTitle}}
        <div class="video__title">{{videoTitle}}</div>
    {{/if}}

    {{#if videoCopy}}
        <div class="video__copy">{{videoCopy}}</div>
    {{/if}}
</div>
