{{! ---
component: c-datelist
============================================

Requirements:
- (only hbs)

Options:
- datelistContextClass {String} [default] - Just pass a string
- datelistClasses {String} - Modifier classes

Important Notes:

--- }}


<div class="c-datelist{{#if datelistContextClass}}--{{datelistContextClass}}{{else}}--default{{/if}}{{#if datelistClasses}} {{datelistClasses}}{{/if}}" data-js-module="datelist" data-js-options='{
     	{{#each datelistJsOptions}}"{{optionsKey}}": {{#unless optionsObject}}"{{/unless}}{{{optionsValue}}}{{#unless optionsObject}}"{{/unless}}{{#if @last}}{{else}}, {{/if}}{{/each}}
     }' data-css="c-datelist">
    <div class="datelist__dates" data-js-atom="dates">
        {{#each data}}
            {{#times ../times}}
                <div class="datelist__item">
                    <div class="datelist__date">
                        <div class="datelist__month">{{../month}}</div>
                        <div class="datelist__day">{{../day}}</div>
                    </div>
                    <div class="datelist__content">
                        <div class="datelist__headline">{{../artist}}</div>
                        <div class="datelist__description">{{../description}}</div>
                    </div>
                    {{#if ../link.url}}
                        <div class="datelist__linkwrapper">
                            <a href="{{../link.url}}" class="datelist__link">▸ FACEBOOK VERANSTALTUNG</a>
                        </div>
                    {{/if}}
                    {{#if ../ticket}}
                        <div class="datelist__buttonwrapper">
                            {{> c-cta ../ticket}}
                        </div>
                    {{/if}}
                    {{#if ../dateTarget}}
                        <a class="datelist__target" href="{{../dateTarget}}" target="_blank"></a>
                    {{/if}}
                </div>
            {{/times}}
        {{/each}}
    </div>
    {{#if loader}}
        {{#with loader}}
            <div class="datelist__loader" data-js-atom="datelist-loader"></div>
            <div class="datelist__loader-cta">
                {{> c-cta cta}}
            </div>
        {{/with}}
    {{/if}}
</div>
