
.u-flex-grid {
	@include flex-grid-row($behavior: nest);

	.u-flex-column {
		display: flex;
		@include flex-grid-column(12);

		@include breakpoint(medium) {
			@include flex-grid-column(6);
		}

		@include breakpoint(large) {
			@include flex-grid-column(4);
		}

		&.is-6 {
			@include breakpoint(medium) {
				@include flex-grid-column(12);
			}

			@include breakpoint(large) {
				@include flex-grid-column(6);
			}
		}
	}
}