{{! ---
block: b-archievements
============================================

Requirements:
- (only hbs)

Options:
- archievementsClasses {String} - Modifier classes

Important Notes:

--- }}


<div class="b-archievements{{#if archievementsClasses}} {{archievementsClasses}}{{/if}}">
     {{#if headline}}
     	<h2 class="archievements__headline">{{headline}}</h2>
    {{/if}}
 	<ul class="archievements__list">
 	{{#each data}}
 		<li class="archievements__item">{{date}} - {{text}}</li>
 	{{/each}}
 	</ul>
</div>
