{{#if articleH1 }}
	<h1 class="article__header-headline">{{ articleH1 }}</h1>
{{/if}}

{{#if articleH2 }}
	<h2 class="article__header-subline">{{ articleH2 }}</h2>
{{/if}}

{{#if articleIntro}}
	<p class="article__header-intro">{{articleIntro}}</p>
{{/if}}

{{#if articleDate}}
	<div class="article__header-meta">
		{{#if articleDate }}
			<time class="article__header-metaitem is-clock" datetime="{{articleDatetime}}">{{articleDate}}</time>
		{{/if}}
		{{#if articleCategory}}
			<div class="article__header-metaitem is-folder">{{articleCategory}}</div>
		{{/if}}		
	</div>
{{/if}}

