{{! ---
component: c-news-teaser
============================================

Requirements:
- (only hbs)

Options:
- newsTeaserContextClass {String} [default] - Just pass a string
- newsTeaserClasses {String} - Modifier classes

Important Notes:

--- }}


<article class="c-news-teaser{{#if newsTeaserContextClass}}--{{newsTeaserContextClass}}{{else}}--default{{/if}}{{#if newsTeaserClasses}} {{newsTeaserClasses}}{{/if}}"
     data-css="c-news-teaser">
     {{#if headline}}
     	<h2 class="news-teaser__headline">
            <a href="{{button.ctaTarget}}">{{headline}}</a>
     	</h2>
     {{/if}}
     {{#if text}}
     	<div class="news-teaser__text">
	     	{{{text}}} 		
     	</div>
     {{/if}}
     {{#if button}}
		<div class="news-teaser__footer">
			{{#with button}}
			     {{> c-cta}}
			{{/with}}
		</div>
     {{/if}}
</article>
