{{! ---
block: b-logo
============================================

Requirements:
- (only hbs)

Options:
- logoClasses {String} - Modifier classes

Important Notes:

--- }}


<div class="b-logo{{#if logoClasses}} {{logoClasses}}{{/if}}">
    <picture>
        {{#each source}}
            <source media="{{media}}" srcset="{{srcset}}">
        {{/each}}
        <img src="{{src}}" alt="Logo">
    </picture>
    <a href="/" class="logo__link"></a>
</div>
