{{! ---
block: b-contact-form
============================================

Requirements:
- (only hbs)

Options:
- contactFormClasses {String} - Modifier classes

Important Notes:

--- }}


<div class="b-contact-form{{#if contactFormClasses}} {{contactFormClasses}}{{/if}}"
     data-js-module="contact-form"
     data-js-options='{
     	{{#each contactFormJsOptions}}"{{optionsKey}}": {{#unless optionsObject}}"{{/unless}}{{{optionsValue}}}{{#unless optionsObject}}"{{/unless}}{{#if @last}}{{else}}, {{/if}}{{/each}}
     }'>
     <form action="post" class="contact-form__form">
		<fieldset class="contact-form__fieldset is-6">
	     	<label class="contact-form__label" for="name">Dein Name</label>
     		<input  class="contact-form__input" type="text" name="name" value="" data-js-atom="name">
		</fieldset>
		<fieldset class="contact-form__fieldset is-6">
	     	<label class="contact-form__label" for="email">Deine Email-Adresse</label>
     		<input  class="contact-form__input" type="text" name="email" value="">
		</fieldset>
		<fieldset class="contact-form__fieldset">
	     	<label class="contact-form__label" for="text">Dein Anliegen</label>
     		<textarea name="text" class="contact-form__textarea"></textarea>
		</fieldset>
		<div class="contact-form__recaptcha column">
			
		</div>
		<div class="contact-form__button column">
			{{> c-cta submitCta}}
		</div>
     </form>
</div>
