---
title: About
menuLink: About
sortOrder: 00
---

{{#extend "lyt-default"}}
	{{#content "stage"}}
        {{#with about}}
		    {{> c-stage-image stage}}
        {{/with}}
	{{/content}}

	{{#content "main"}}
		{{#with about}}
			<div class="row">
				<div class="large-7 columns">
					{{> c-article}}
				</div>
				<div class="large-4 columns">
					{{#with sidebar}}
						{{#wrapWith "c-sidebar"}}
							{{#each data}}
								{{> c-sidebar__item}}
							{{/each}}
						{{/wrapWith}}					
					{{/with}}
				</div>
			</div>
			{{> c-text text}}
			<div class="u-flex-grid">
				{{#times 4}}
					<div class="u-flex-column is-6">
						{{> b-vcards ../card}}
					</div>					
				{{/times}}
			</div>
		{{/with}}
	{{/content}}
{{/extend}}
