---
title: Artits
menuLink: Artists
sortOrder: 02
---

{{#extend "lyt-default"}}
	{{#content "stage"}}
	{{/content}}

	{{#content "main"}}
		{{#with artists-overview}}
			{{#with description }}
				{{> c-text }}
			{{/with}}
			<div class="row">
				{{#each artists-data}}
					<div class="small-6 medium-4 large-4 columns">
						{{> c-figure}}
					</div>
				{{/each}}
			</div>

		{{/with}}
	{{/content}}
{{/extend}}
