---
title: Artist
menuLink: Artists
sortOrder: 02
---

{{#extend "lyt-default"}}

	{{#content "main"}}
		{{#with artist}}

			{{#with bio}}
				{{> c-article}}
			{{/with}}

			
			{{#with download-cta}}
				{{> c-cta}}
			{{/with}}

			{{#with video}}
				{{> c-video}}
			{{/with}}

			{{#with archievements}}
				{{> b-archievements}}
			{{/with}}

			{{#with releases}}
				{{> c-releases}}
			{{/with}}
		{{/with}}
	{{/content}}
{{/extend}}
