---
title: Kontakt
menuLink: Kontakt
sortOrder: 00
---

{{#extend "lyt-default"}}
	{{#content "stage"}}
        {{#with contact}}
            {{> c-stage-image stage}}
        {{/with}}
	{{/content}}

	{{#content "main"}}
		{{#with contact}}
			<div class="row">
				<div class="large-7 columns">
					{{> c-text text}}
					{{> b-contact-form}}
				</div>
				<div class="large-4 columns">
					{{#with sidebar}}
						{{#wrapWith "c-sidebar"}}
							{{#each data}}
								{{> c-sidebar__item}}
							{{/each}}
						{{/wrapWith}}					
					{{/with}}
				</div>
			</div>
		{{/with}}
	{{/content}}
{{/extend}}
