---
title: Dates
menuLink: Dates
sortOrder: 01
---

{{#extend "lyt-default"}}
	{{#content "main"}}
		{{#with dates}}
			{{> c-selector selector}}
			{{> c-text dates.active-text}}
			{{> c-datelist dates.active}}
			{{> c-text dates.disabled-text}}
			{{> c-datelist dates.past}}
		{{/with}}
	{{/content}}
{{/extend}}
