---
title: Build Better Prototypes with Veams
menuLink: Home
sortOrder: 01
---

{{#extend "lyt-default"}}
    {{#content "stage"}}
        {{#with index.stage}}
            {{#wrapWith "c-slider" data=this.sliderOptions}}
                {{#each data}}
                    {{#wrapWith "c-slider__item"}}
                        {{> b-stage-content}}
                    {{/wrapWith}}
                {{/each}}
            {{/wrapWith}}
        {{/with}}
    {{/content}}

    {{#content "main"}}
        {{#with index}}
            <div class="u-flex-grid">
                <div class="u-flex-column">
                    {{#with main.news}}
                        {{#wrapWith "c-teaser-block"}}
                            {{#each data}}
                                {{> c-news-teaser}}
                            {{/each}}
                        {{/wrapWith}}
                    {{/with}}
                </div>
                <div class="u-flex-column">
                    {{#with main.insta}}
                        {{#wrapWith "c-teaser-block"}}
                            {{> b-instagram-feed}}
                        {{/wrapWith}}
                    {{/with}}
                </div>
                <div class="u-flex-column">
                    {{#with main.youtube}}
                        {{#wrapWith "c-teaser-block"}}
                            {{#wrapWith "c-slider" data=this.sliderOptions}}
                                {{#each data}}
                                    {{#wrapWith "c-slider__item"}}
                                        {{> c-video}}
                                    {{/wrapWith}}
                                {{/each}}
                            {{/wrapWith}}
                        {{/wrapWith}}
                    {{/with}}
                </div>
                <div class="u-flex-column">
                    {{#with main.spotify}}
                        {{#wrapWith "c-teaser-block"}}
                            <iframe class="lazyload" data-src="https://embed.spotify.com/?uri=spotify%3Auser%3Awpeberlin%3Aplaylist%3A2fya5UoiSY91oWseXEPKE6" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
                        {{/wrapWith}}
                    {{/with}}
                </div>
                <div class="u-flex-column">
                    {{#with main.marchandise}}
                        {{#wrapWith "c-teaser-block"}}
                            {{#wrapWith "c-slider" data=this.sliderOptions}}
                                {{#each data}}
                                    {{#wrapWith "c-slider__item"}}
                                        <a href="{{link}}"><img src="{{src}}" alt="{{title}}"></a>
                                    {{/wrapWith}}
                                {{/each}}
                            {{/wrapWith}}
                        {{/wrapWith}}
                    {{/with}}
                </div>
                <div class="u-flex-column">
                    {{#with main.dates}}
                        {{#wrapWith "c-teaser-block"}}
                            {{> "c-datelist" active}}
                        {{/wrapWith}}
                    {{/with}}
                </div>
            </div>
        {{/with}}
    {{/content}}
    {{#content "pre-footer"}}
        {{> b-newsletter}}
    {{/content}}
{{/extend}}
