---
title: News
menuLink: News
sortOrder: 00
---

{{#extend "lyt-default"}}
	{{#content "stage"}}
	{{/content}}

	{{#content "main"}}
		{{#with news-article}}
			<div class="row">
				<div class="large-8 columns">
					{{> c-article}}
					{{> b-article-gallery articleGallery}}
					{{> c-video video}}
				</div>
				<div class="large-3 columns">
					{{#wrapWith "c-sidebar"}}
						{{#with sidebar.kategorien}}
							{{> c-sidebar__item}}
						{{/with}}
						{{#with sidebar.instagram }}
							{{#wrapWith "c-sidebar__item" }}
								{{> b-instagram-feed}}
							{{/wrapWith}}						
						{{/with}}
						{{#with sidebar.friends}}
							{{> c-sidebar__item}}
						{{/with}}
					{{/wrapWith}}					
				</div>
			</div>
		{{/with}}
	{{/content}}
{{/extend}}
