---
title: News
menuLink: News
sortOrder: 00
---

{{#extend "lyt-default"}}
	{{#content "stage"}}
	{{/content}}

	{{#content "main"}}
		{{#with news}}
			<div class="row">
				<div class="large-8 columns">
					{{#times 5 }}
						{{> c-article ../this}}
					{{/times}}
					{{> c-pagination pagination}}
				</div>
				<div class="large-3 columns">
					{{#wrapWith "c-sidebar"}}
						{{#with sidebar.kategorien}}
							{{> c-sidebar__item}}
						{{/with}}
						{{#with sidebar.instagram }}
							{{#wrapWith "c-sidebar__item" }}
								{{> b-instagram-feed}}
							{{/wrapWith}}						
						{{/with}}
						{{#with sidebar.friends}}
							{{> c-sidebar__item}}
						{{/with}}
					{{/wrapWith}}					
				</div>
			</div>
		{{/with}}
	{{/content}}
{{/extend}}
