---
title: Build Better Prototypes with Veams
menuLink: Components
sortOrder: 02
---

{{#extend "lyt-default"}}
	{{#content "main"}}
		<div class="row">
			<div class="large-4 medium-6 small-12 columns">
				{{#with teaser-block-bp.default}}
					{{#wrapWith "c-teaser-block"}}
						Wrapped with markup from teaser-block.
					{{/wrapWith}}
				{{/with}}
			</div>
			<div class="large-4 medium-6 small-12 columns">
				{{#with teaser-block-bp.light}}
					{{#wrapWith "c-teaser-block"}}
						Wrapped with markup from teaser-block.
					{{/wrapWith}}
				{{/with}}
			</div>
			<div class="large-4 medium-6 small-12 columns">
				{{#with teaser-block-bp.spotify}}
					{{#wrapWith "c-teaser-block"}}
						<iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Awpeberlin%3Aplaylist%3A2fya5UoiSY91oWseXEPKE6" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
					{{/wrapWith}}
				{{/with}}
			</div>
			<div class="large-4 medium-6 small-12 columns">
				{{#with teaser-block-bp.dark}}
					{{#wrapWith "c-teaser-block"}}
						Wrapped with markup from teaser-block.
					{{/wrapWith}}
				{{/with}}
			</div>
		</div>

{{! wrapWith START: Slider }}
{{#with slider-bp.simple}}
	{{#wrapWith "c-slider" data=this.sliderOptions}}
		{{#wrapWith "c-slider__item"}}
			<img src="https://placeholdit.imgix.net/~text?txtsize=92&txt=980%C3%97600&w=980&h=600" alt="test">
		{{/wrapWith}}
		{{#wrapWith "c-slider__item"}}
			<img src="https://placeholdit.imgix.net/~text?txtsize=92&txt=980%C3%97600&w=980&h=600" alt="test">
		{{/wrapWith}}
		{{#wrapWith "c-slider__item"}}
			<img src="https://placeholdit.imgix.net/~text?txtsize=92&txt=980%C3%97600&w=980&h=600" alt="test">
		{{/wrapWith}}
	{{/wrapWith}}
{{/with}}
{{! wrapWith END: Slider}}


{{#with article-bp}}
	{{> c-article}}
{{/with}}

<hr>

{{#with news-teaser-bp}}
	{{> c-news-teaser}}
{{/with}}

<hr>

{{#with menu-bp}}
	{{> c-menu}}
{{/with}}

<hr>

{{#with figure-bp}}
	{{> c-figure}}
{{/with}}

<hr>

{{#with releases-bp}}
	{{> c-releases}}
{{/with}}

<hr>

{{#with video-bp}}
	{{> c-video}}
{{/with}}

<hr>

{{#with stage-image-bp}}
	{{> c-stage-image}}
{{/with}}

<hr>

{{#with sidebar-bp}}
	{{#wrapWith "c-sidebar"}}
		Wrapped with markup from sidebar.
	{{/wrapWith}}
{{/with}}

<hr>

{{#with offcanvas-bp}}
	{{#wrapWith "c-offcanvas"}}
		Wrapped with markup from offcanvas.
	{{/wrapWith}}
{{/with}}

<hr>

	{{#with article-bp.simple}}
		{{> c-article}}
	{{/with}}

	{{#with article-bp.articleWithImage}}
		{{> c-article}}
	{{/with}}

	{{#with article-bp.multipleContent}}
		{{> c-article}}
	{{/with}}
	
<hr>

{{#with rte-bp.single}}
	{{> c-rte}}
{{/with}}

<hr>

{{#with rte-bp.full}}
		{{> c-rte}}
{{/with}}

hr

{{#with text-bp}}
	{{> c-text}}
{{/with}}

<hr>

{{#with pagination-bp.simple}}
	{{> c-pagination}}
{{/with}}

<hr>

{{#each datelist-bp}}
	{{> c-datelist this}}
{{/each}}

<hr>

{{#with selector-bp}}
	{{> c-selector}}
{{/with}}

		{{! @INSERTPOINT :: @ref: component-partial }}
	{{/content}}
{{/extend}}
