---
title: Releases
menuLink: Releases
sortOrder: 03
---

{{#extend "lyt-default"}}
	{{#content "stage"}}
	{{/content}}

	{{#content "main"}}
		{{#with releases}}
			{{#with description }}
				{{> c-text }}
			{{/with}}
				{{#each data}}
					{{> c-releases}}
				{{/each}}
		{{/with}}
	{{/content}}
{{/extend}}
