{{! ---
component: c-stage-image
============================================

Requirements:
- (only hbs)

Options:
- stageImageContextClass {String} [default] - Just pass a string
- stageImageClasses {String} - Modifier classes
- src {String} - Backound image
- placeholder {String} - Placeholder image

Important Notes:

--- }}

<div class="c-stage-image{{#if stageImageContextClass}}--{{stageImageContextClass}}{{else}}--default{{/if}}{{#if stageImageClasses}} {{stageImageClasses}}{{/if}} lazyload" data-css="c-stage-image" data-bg="{{assets}}{{src}}" style="background-image: url({{assets}}{{placeholder}})"></div>