/* ===================================================
Block: archievements
=================================================== */

.b-archievements {
    margin-bottom: 60px;

    .archievements__headline {
        @extend %h2;
    }

    .archievements__list {
        list-style: disc;
        margin-left: 1em;
    }
    
    .archievements__item {
        padding-left: .7em;
        font-size: rem-calc(14);
        margin-bottom: 3px;
    }
}
