/* ===================================================
Block: article-gallery
=================================================== */

.b-article-gallery {
    @include grid-row($behavior: nest);
    margin-top: 39px;
    margin-bottom: 20px;


    &.is-columns-1 > .article-gallery__item {
    	@include grid-column-size($grid-column-count/1);
    }

    &.is-columns-2 > .article-gallery__item {
    	@include grid-column-size($grid-column-count/2);
    }

    &.is-columns-3 > .article-gallery__item {
    	@include grid-column-size($grid-column-count/3);
    }

    .article-gallery__item {
        @include grid-column(3);

        @each $breakpoint, $value in $grid-column-gutter {
            @include breakpoint($breakpoint) {
                margin-bottom: $value;
            }
        }

        &:last-child {
            @include grid-column-end;
        }
    }
}
