/* ===================================================
Block: contact-form
=================================================== */

.b-contact-form {
	@include grid-row($behavior:nest);
	margin-top: rem-calc(40px);

	.contact-form__fieldset {
		width: 100%;
		@include grid-column(12);

		&.is-6 {
			@include grid-column(6);
		}
	}

	.contact-form__input, .contact-form__textarea {
		@include form-element();
		border-radius: 2px;
		border: 1px solid #ddd;
	}

	.contact-form__textarea {
		height: 300px;
	}

	.contact-form__label {
		display: block;
		font-size: rem-calc(14);
		margin-bottom: rem-calc(5);
	}

	.contact-form__button {
		text-align: right;
	}
}