/* ===================================================
Block: footer-text
=================================================== */

.b-footer-text {
	font-family: $header-font-family;
	font-size: rem-calc(12);
	color: #777777;
	letter-spacing: 3px;
	text-align: center;
	margin-bottom: 46px;
}