/* ===================================================
Block: logo
=================================================== */

.b-logo {
	display: inline-block;
	position: relative;

	@include breakpoint(medium) {
		margin-right: 30px;
	}

	.logo__link	{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: block;
		width: 100%;
		height: 100%
	}
}