/* ===================================================
Block: newsletter
=================================================== */

.b-newsletter {
	min-height: 517px;
	padding: 70px;
	background-image: url('../img/jpg/newsletter-bg.jpg');
	background-size: cover;
	text-align: center;
	color: $color-white;

	.newsletter__wrapper {
		max-width: 750px;
		margin: 0 auto;
	}

	.newsletter__headline {
		color: $color-white;
		font-size: rem-calc(60);
		text-transform: uppercase;

		&::after {
			@include underline($color-white);
		}
	}

	.newsletter__text {
		font-size: 20px;
		letter-spacing:0.25px;
		margin-bottom: 30px;
	}

	.newsletter__fieldset {
		display: flex;
		margin-bottom: 20px;
	}

	.newsletter__input {
		@include form-element();
	}

	.newsletter__bottom {
		height: 53px;
		padding: rem-calc(16px 29px 16px 29px);
		background-color: $color-white;
		text-transform: uppercase;
		color: $color-black;
	}

	.newsletter__whatsapp {
		max-width: 400px;
		text-align: left;
		margin: 0 auto;
		@include clearfix();
	}

	.newsletter__icon {
		@extend %sprites-whatsapp;
		float: left;
		margin-right: 20px;
	}

	.newsletter__telephone {
		font-family: $header-font-family;
		font-size: rem-calc(34);
		line-height: rem-calc(34);
		letter-spacing: rem-calc(4.8)	;
		//font-weight: bold;
		margin-bottom: 5px;
	}

	.newsletter__whatsapp-text {
		font-family: $header-font-family;
		font-size:rem(18);
		color:#777777;
		letter-spacing:0.4px;
	}
}