/* ===================================================
Block: navigation
=================================================== */
	
.b-navigation {
	
	display: flex;
	align-items: center;

	@include breakpoint(small only) {
		margin: 6px 0;
	}

	.navigation__logo {
		@include breakpoint(small only) {
			margin-left: calc(50% - 45px);
		}
	}

	.navigation__menu {
		@include breakpoint(small only) {
			display: none;
		}

		@include breakpoint(medium) {
			flex-grow: 1;			
		}
	}

	.navigation__menu-icon {
		@include burger(25px, 3px, 5px, #222);

		@include breakpoint(medium) {
			display: none;
		}
	}

	.navigation__menu-icon-wrapper {
		&.is-active > .navigation__menu-icon {
			@include burger-to-cross;
		}

		@include breakpoint(medium) {
			display: none;
		}
	}

	.navigation__wrapper {

		display: flex;
		justify-content: space-between;
		width: 100%;
		
		&.is-main {
			padding-bottom: 10px;
			border-bottom: 2px solid $color-black;
			margin-bottom: 6px;
		}
	}

	.navigation__subtext {
		font-family: $header-font-family;
		color: $color-dusty-grey;
		font-size: rem-calc(13);
		letter-spacing: 3px;
	}
}