/* ===================================================
Block: release-details
=================================================== */

.b-release-details {

	display: flex;

	.release-details__cover {
		max-width: 410px;
		display: none;

		@include breakpoint(medium) {
			display: block;
		}
	}
	
	.release-details__content {
		display: flex;
		flex-direction: column;
		margin-left: 25px;
	}

	.release-details__artist {
		font-family: $header-font-family;
		font-size: rem-calc(22);
		line-height: rem-calc(22);
		text-transform: uppercase;
		margin-bottom: 9px;

	}

	.release-details__release {
		font-size: rem-calc(24);
		line-height: rem-calc(24);
		text-transform: uppercase;
		margin-bottom: 22px;
	}

	.release-details__text {
		max-width: 450px;
	}

	.release-details__cta {
		margin-top: 20px;

		@include breakpoint(medium) {
			margin-top: auto;
		}

	}

	.release-details__buylinks {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-top: 30px;
	}

	.release-details__buylink {
		$streaming-services: 'spotify', 'deezer', 'apple-music', 'amazon', 'itunes';
		@each $service in $streaming-services {
			&.is-#{$service} {
				@extend %sprites-releases_#{$service};
			}
		}

		&.is-amazon {
			transform: translateY(6px);
		}

		&.is-itunes {
			transform: translateY(-2px);
		}

		&.is-spotify {
			transform: translateY(2px);
		}
	}
}