/* ===================================================
Block: stage-content
=================================================== */

.b-stage-content {
	position: relative;
	min-height: 600px;

	.stage-content__container {
		@include centering();
		background:rgba(255,255,255,0.86);
		border:1px solid #f2f2f2;
		border-radius:2px;
		min-width: 90%;
		padding: 20px;
		

		@include breakpoint(medium) {
			padding: 50px;
			min-height:347px;
			min-width:968px;
		}
	}

	.stage-content__imagewrapper {
		display: none;
		max-width: 250px;

		@include breakpoint(medium) {
			display: block;
			float: left;
			margin-right: 30px; 
		}

	}

	.stage-content__article {
		height: 100%;
	}

	.stage-content__headline {
		font-size: rem-calc(32);
		margin-bottom: rem-calc(14);
		letter-spacing:0.72px;
	}
}