/* ===================================================
Block: social-icons
=================================================== */

.b-social-icons {
	display: flex;
	width: 175px;
	justify-content: space-between;
	margin: 0 auto;

	.social-icons__link {
		$channels: "facebook", "snapchat", "instagram", "youtube", "twitter";

		@each $channel in $channels {
			&.is-#{$channel} {
				@extend %sprites-#{$channel};
			}
		}
	}

	&.is-round {
		width: 100%;
		margin: 0;

		.social-icons__link {
			margin-right: 10px;
			$channels: "mail", "facebook", "snapchat", "instagram", "twitter";

			@each $channel in $channels {
				&.is-#{$channel} {
					@extend %sprites-about_#{$channel};
				}
			}
		}
	}
}