/* ===================================================
Block: vcards
=================================================== */

.b-vcards {
	background-color: $color-gallery;
	padding: 40px;
	border-radius: 2px;
	text-align: center;

	@include breakpoint(medium) {
		text-align: left;
	}

	@each $breakpoint, $value in $grid-column-gutter {
	  @include breakpoint($breakpoint) {
		margin-bottom: $value;
	  }
	}

	.cards__head-wrapper {
		margin-bottom: 40px;

		@include breakpoint(medium) {
			display: table;
			margin-bottom: 0;		
		}
	}

	.cards__image {
		@include breakpoint(medium) {
			display: table-cell;			
		}
	}

	.cards__headline {
		vertical-align: middle;
		font-family: $header-font-family;
		font-size:18px;
		letter-spacing:0.41px;
		margin-bottom: 6px;

		@include breakpoint(medium) {
			display: table-cell;			
		}
	}

	.cards__desc {
		font-size: 14px;
		margin-bottom: 10px;
	}

	.cards__copy {
		clear: both;
		font-size: 14px;
	}
}