/* ===================================================
BASE
=================================================== */

/* ---------------------------------------------------
Global styles
--------------------------------------------------- */
 
 @include foundation-global-styles;

::selection {
	background: $color-mercury;
}

 a {
     text-decoration: none;
     color: $body-font-color;
     cursor: pointer;
 }

 h1,h2,h3,h4,h5,h6 {
 	font-family: $header-font-family;
 }
