@mixin sprites-bg-svg() {
	background-image: url("../img/sprites/sprites-icons-sprite.svg");
}
%sprites-bg-svg {
	@include sprites-bg-svg();
}
@mixin sprites-bg-size() {
	background-size: 870px 70px;
}
%sprites-bg-size {
	@include sprites-bg-size();
}

@mixin sprites-bg-png() {
	background-image: url("../img/sprites/sprites-icons-sprite-medium.png");
}
%sprites-bg-png {
	@include sprites-bg-png();
}
@mixin sprites-about_facebook() {
	@include sprites-bg-size;
	@include sprites-bg-svg;
	width: 30px;
	height: 30px;
	background-position: 0 0;
	@at-root .no-svg & {
		@include sprites-bg-png;
	}
}

%sprites-about_facebook {
	@include sprites-about_facebook();
}

@mixin sprites-about_fb() {
	@include sprites-bg-size;
	@include sprites-bg-svg;
	width: 30px;
	height: 30px;
	background-position: -35px 0;
	@at-root .no-svg & {
		@include sprites-bg-png;
	}
}

%sprites-about_fb {
	@include sprites-about_fb();
}

@mixin sprites-about_insta() {
	@include sprites-bg-size;
	@include sprites-bg-svg;
	width: 30px;
	height: 30px;
	background-position: -70px 0;
	@at-root .no-svg & {
		@include sprites-bg-png;
	}
}

%sprites-about_insta {
	@include sprites-about_insta();
}

@mixin sprites-about_instagram() {
	@include sprites-bg-size;
	@include sprites-bg-svg;
	width: 30px;
	height: 30px;
	background-position: -105px 0;
	@at-root .no-svg & {
		@include sprites-bg-png;
	}
}

%sprites-about_instagram {
	@include sprites-about_instagram();
}

@mixin sprites-about_mail() {
	@include sprites-bg-size;
	@include sprites-bg-svg;
	width: 30px;
	height: 30px;
	background-position: -140px 0;
	@at-root .no-svg & {
		@include sprites-bg-png;
	}
}

%sprites-about_mail {
	@include sprites-about_mail();
}

@mixin sprites-about_snapchat() {
	@include sprites-bg-size;
	@include sprites-bg-svg;
	width: 30px;
	height: 30px;
	background-position: -175px 0;
	@at-root .no-svg & {
		@include sprites-bg-png;
	}
}

%sprites-about_snapchat {
	@include sprites-about_snapchat();
}

@mixin sprites-about_twitter() {
	@include sprites-bg-size;
	@include sprites-bg-svg;
	width: 30px;
	height: 30px;
	background-position: -210px 0;
	@at-root .no-svg & {
		@include sprites-bg-png;
	}
}

%sprites-about_twitter {
	@include sprites-about_twitter();
}

@mixin sprites-clock() {
	@include sprites-bg-size;
	@include sprites-bg-svg;
	width: 12px;
	height: 12px;
	background-position: -245px 0;
	@at-root .no-svg & {
		@include sprites-bg-png;
	}
}

%sprites-clock {
	@include sprites-clock();
}

@mixin sprites-facebook() {
	@include sprites-bg-size;
	@include sprites-bg-svg;
	width: 11px;
	height: 20px;
	background-position: -265px 0;
	@at-root .no-svg & {
		@include sprites-bg-png;
	}
}

%sprites-facebook {
	@include sprites-facebook();
}

@mixin sprites-folder() {
	@include sprites-bg-size;
	@include sprites-bg-svg;
	width: 15px;
	height: 12px;
	background-position: -285px 0;
	@at-root .no-svg & {
		@include sprites-bg-png;
	}
}

%sprites-folder {
	@include sprites-folder();
}

@mixin sprites-instagram() {
	@include sprites-bg-size;
	@include sprites-bg-svg;
	width: 20px;
	height: 20px;
	background-position: -305px 0;
	@at-root .no-svg & {
		@include sprites-bg-png;
	}
}

%sprites-instagram {
	@include sprites-instagram();
}

@mixin sprites-releases_amazon() {
	@include sprites-bg-size;
	@include sprites-bg-svg;
	width: 60px;
	height: 19px;
	background-position: -330px 0;
	@at-root .no-svg & {
		@include sprites-bg-png;
	}
}

%sprites-releases_amazon {
	@include sprites-releases_amazon();
}

@mixin sprites-releases_apple-music() {
	@include sprites-bg-size;
	@include sprites-bg-svg;
	width: 69px;
	height: 18px;
	background-position: -395px 0;
	@at-root .no-svg & {
		@include sprites-bg-png;
	}
}

%sprites-releases_apple-music {
	@include sprites-releases_apple-music();
}

@mixin sprites-releases_deezer() {
	@include sprites-bg-size;
	@include sprites-bg-svg;
	width: 69px;
	height: 15px;
	background-position: -470px 0;
	@at-root .no-svg & {
		@include sprites-bg-png;
	}
}

%sprites-releases_deezer {
	@include sprites-releases_deezer();
}

@mixin sprites-releases_itunes() {
	@include sprites-bg-size;
	@include sprites-bg-svg;
	width: 71px;
	height: 21px;
	background-position: -545px 0;
	@at-root .no-svg & {
		@include sprites-bg-png;
	}
}

%sprites-releases_itunes {
	@include sprites-releases_itunes();
}

@mixin sprites-releases_spotify() {
	@include sprites-bg-size;
	@include sprites-bg-svg;
	width: 68px;
	height: 21px;
	background-position: -625px 0;
	@at-root .no-svg & {
		@include sprites-bg-png;
	}
}

%sprites-releases_spotify {
	@include sprites-releases_spotify();
}

@mixin sprites-snapchat() {
	@include sprites-bg-size;
	@include sprites-bg-svg;
	width: 22px;
	height: 20px;
	background-position: -700px 0;
	@at-root .no-svg & {
		@include sprites-bg-png;
	}
}

%sprites-snapchat {
	@include sprites-snapchat();
}

@mixin sprites-twitter() {
	@include sprites-bg-size;
	@include sprites-bg-svg;
	width: 25px;
	height: 20px;
	background-position: -730px 0;
	@at-root .no-svg & {
		@include sprites-bg-png;
	}
}

%sprites-twitter {
	@include sprites-twitter();
}

@mixin sprites-whatsapp() {
	@include sprites-bg-size;
	@include sprites-bg-svg;
	width: 66px;
	height: 65px;
	background-position: -760px 0;
	@at-root .no-svg & {
		@include sprites-bg-png;
	}
}

%sprites-whatsapp {
	@include sprites-whatsapp();
}

@mixin sprites-youtube() {
	@include sprites-bg-size;
	@include sprites-bg-svg;
	width: 26px;
	height: 18px;
	background-position: -835px 0;
	@at-root .no-svg & {
		@include sprites-bg-png;
	}
}

%sprites-youtube {
	@include sprites-youtube();
}


