	 {{! ---
component: c-article
============================================

Requirements:
- (only hbs)

Options:
- articleContextClass {String} [default] - Just pass a string
- articleClasses {String} - Modifier classes
- headline {String} - Headline
- text {String} - Text

Important Notes:

--- }}


<article class="c-article{{#if articleContextClass}}--{{articleContextClass}}{{else}}--default{{/if}}{{#if articleClasses}} {{articleClasses}}{{/if}}"
	 data-css="c-article">
	 {{#if image}}
	 	<div class="article__image">
	 		{{> c-figure}}
	 	</div>
	 {{/if}}
	 <header class="article__header">
		{{#if social-media}}
			<div class="article__social-media">
				{{#with social-media}}
					{{> b-social-icons}}
				{{/with}}
			</div> 
		{{/if}}
		{{#if title }}
			<h1 class="article__title">{{title}}</h1>
		{{/if}}
	 </header>

	{{#if text}}
	 <main class="article__text">
		{{{text}}}
	 </main>	
	{{/if}}
</article>
