/* ===================================================
ARTICLE COMPONENT
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-article"] {

	/*
	Header
	----------------------- */
	.article__header {
		//@include clearfix();

		@include breakpoint(medium) {
			text-align: left;			
		}
	}


	.article__header-headline {

		font-family: $header-font-family;
		font-size: rem-calc(42);
		text-transform: uppercase;
		letter-spacing:0.95px;
		margin-top: 0;
		margin-bottom: 27px;
	}

	.article__header-meta {
		font-size: rem-calc(12);
		line-height: rem-calc(12);
		vertical-align: bottom;
		display: flex;
		color: $color-boulder;
	}

	.article__header-metaitem {
		margin-right: 30px;
		
		&::before {
			margin-top: -3px;
			margin-right: 6px;
			display: inline-block;
			content: '';
			vertical-align: middle;
			height: 12px;
		}

		&.is-clock {
			&::before {
				@extend %sprites-clock;
			}
		}

		&.is-folder {
			&::before {
				@extend %sprites-folder;
			}
		}
	}


	.article__header-subline {
	}

	.article__header-intro {
	}

	.article__social-media {
		margin-bottom: 27px;

		@include breakpoint(medium) {
			float: right;
			margin-bottom: 0;		
		}
	}

	/*
	Figure
	----------------------- */
	.article__figure {
		margin-bottom: 30px;
	}

	/*
	Content
	----------------------- */
	.article__content {

	}

	/*
	Footer
	----------------------- */
	.article__footer {
	}

	.article__footer-link {
	}
}

/* ---------------------------------------------------
Context: Default Example
--------------------------------------------------- */
.c-article--default {

	.article__header {
		text-align: center;
	}
}

/* ---------------------------------------------------
Context: News
--------------------------------------------------- */
.c-article--news {

	.article__header {
		margin-bottom: 28px;
	}

	.article__header-headline {
		font-size: 22px;
		margin-bottom: 11px;
	}
}

/* ---------------------------------------------------
Context: Teaser
--------------------------------------------------- */
.c-article--teaser {
	margin-bottom: 100px;
	
	.article__figure {
		max-width: 270px;
		margin: 0 auto;
		margin-bottom: 30px;

		@include breakpoint(medium) {
			float: left;
			margin-right: map-get($grid-column-gutter, medium);
		}
	}

	.article__header {
		margin-bottom: 28px;
	}

	.article__header-headline {
		font-size: 22px;
		margin-bottom: 11px;
	}

	.article__content {
		margin-bottom: 15px;
	}
}

/* ---------------------------------------------------
Context: About
--------------------------------------------------- */
.c-article--about {
	margin-bottom: 70px;
}
