/* ===================================================
Component: datelist
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-datelist"] {

	&.is-margin {
		margin-bottom: 80px;
	}

	&.is-disabled {
		.datelist__item {
			opacity: 0.3;
		}
	}

	.datelist__item {
		width: 100%;
	}

	.datelist__date {
		background: #000;
		border-radius: 2px;
		color: $color-white;
		display: inline-block;
		text-align: center;
	}


	.datelist__content {

	}

	.datelist__headline {
		text-transform: uppercase;
		color: $color-black;

	}

	.datelist__description {
		color: #777;
	}

	.datelist__linkwrapper {
		margin-right: 25px;

		@include breakpoint(small only) {
			margin-right: 0;
			margin-bottom: 20px;
		}
	}

	.datelist__link {
		font-size: 12px;
		text-transform: uppercase;
	}

	.datelist__target {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.datelist__loader-cta {
		background-color: $color-gallery;
		padding: 35px;
	}


	.datelist__loader {
		background-image: url('../img/svg/ripple.svg');
		width: 0px;
		height: 0px;
		background-size: cover;
		margin: 0 auto;
		transition: $transition-time-m ease;
		margin-bottom: 10px;

		&.is-active {
			width: 50px;
			height: 50px;
		}
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-datelist--default {

	.datelist__item {
		align-items: center;
		display: flex;
		flex-direction: column;
		background-color: $color-gallery;
		padding: 30px 40px;
		margin-bottom: 10px;

		@include breakpoint(medium) {
			flex-direction: row;
		}
	}

	.datelist__date {
		margin-right: 25px;
		padding: 10px 13px;

		@include breakpoint(small only) {
			margin-right: 0;
			margin-bottom: 20px;
		}
	}

	.datelist__month {
		line-height: 1;
		font-size: 12px;
		text-transform: uppercase;
		margin-bottom: 5px;
	}

	.datelist__day {
		line-height: 1;
		font-size: 20px;
	}

	.datelist__content {
		flex-grow: 1;
		font-size: 19px;
		font-family: $header-font-family;

		@include breakpoint(small only) {
			text-align: center;
			margin-bottom: 20px;
		}
	}
}

/* ---------------------------------------------------
Context: Teaser
--------------------------------------------------- */
.c-datelist--teaser {

	.datelist__item {
		text-align: left;
		padding: 18px;
		background-color: $color-white;
		border-radius: 2px;
		margin-bottom: 35px;
		position: relative;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.datelist__content {
		font-family: $header-font-family;
	}

	.datelist__headline {
		margin-bottom: 10px;
		line-height: 1;
	}

	.datelist__description {
		line-height: 1;
	}

	.datelist__date {
		font-size: 12px;
		padding: 3px 9px 1px 9px;
		border-radius: 19px;
		margin-bottom: 10px;

		> * {
			line-height: 1;
			display: inline-block;
		}
	}
}