/* ===================================================
Component: figure
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-figure"] {
	margin: 0;

	&.is-quadratic {
		.figure__image-wrapper {
			@include flex-video(1 to 1);
		}
	}

	&.is-widescreen {
		.figure__image-wrapper {
			@include flex-video(16 to 1);
		}
	}

	.figure__image-wrapper {
		filter: grayscale(100%);
		position: relative;
		overflow: hidden;
		transition: 1000ms ease;

		&:hover {
			filter: none;
		}
	}

	.figure__image {
		border-radius: 3px;
		width: 100%;
		transition: $transition-time-m linear;

		&.lazyload {
			filter: blur(5px);
		}

		&.lazyloaded {
			filter: blur(0px);
		}
	}

	.figure__figcaption {
		font-family: $header-font-family;
		text-transform: uppercase;
		font-size: 18px;
		letter-spacing: 0.4px;
		margin-top: 8px;
	}

	.figure__subcaption {
		color: $color-boulder;
	}

	.figure__caption {
		color: #1a1a1a;
	}

}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-figure--default {

}

/* ---------------------------------------------------
Context: Artists
--------------------------------------------------- */
.c-figure--artists {
	margin-bottom: rem-calc(22);
}

/* ---------------------------------------------------
Context: Stage
--------------------------------------------------- */
.c-figure--releases {
	margin-bottom: 50px;
}

/* ---------------------------------------------------
Context: Stage
--------------------------------------------------- */
.c-figure--stage {
	margin-bottom: 50px;
}

/* ---------------------------------------------------
Context: VCard
--------------------------------------------------- */
.c-figure--vcard {
	max-width: 150px;
	margin: 0 auto;
	margin-bottom: 40px;

	@include breakpoint(medium) {
		margin-right: 35px;

	}

	.figure__image,
	.figure__image-wrapper,
	.figure__image-wrapper:before,
	.figure__image-wrapper:after {
		border-radius: 50%;
	}
}
