/* ===================================================
Component: menu
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-menu"] {

	.menu__list {
		font-family: $header-font-family;
		@include menu-base();
		@include menu-direction(vertical);

		@include breakpoint(medium) {
			@include menu-direction(horizontal);
		}
	}

	.menu__item {
		text-transform: uppercase;
		padding: 0 1.5px;
		position: relative;

		&:first-child {
			padding-left: 0;

			.menu__submenu-link {
				border-radius: 3px 0 0 3px;
			}
		}

		&:last-child {
			padding-right: 0;

			.menu__submenu-link {
				border-radius: 0 3px 3px 0;
			}
		}


	}

	.menu__submenu-link {
		white-space: nowrap;
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-menu--default {

	.menu__list {
		letter-spacing: 4px;
	}

	.menu__link {
		border-radius: 3px;
		transition: $transition-time-l color;

		&.is-active {
			color: $color-white;
			background-color: $color-black;
		}

		&:hover {
			color: $color-dusty-grey; 
		}

		&:active {
			transform: scale(0.95);
			color: lighten($color-dusty-grey, 20%);
		}
	}

	.menu__submenu {
		background-color: #1a1a1a;
		opacity: 0;
		position: absolute;
		bottom: -45px;
		@include menu-base();
		border-radius: 3px;
		transform: translateY(-50%);
		transition: $transition-time-l ease;
		

		&.is-active {
			opacity: 1;
			transform: translateY(0%);
		}

		&::before {
			content: '';
			display: block;
			width: 15px;
			height: 15px;
			transform: rotateZ(45deg);
			background-color: #1a1a1a;
			position: absolute;
			top: -3px;
			left: 40px
		}
	}

	.menu__submenu-link {
		color: #fff;
		transition: $transition-time-xl background-color ease-out;

		&.is-active, &:hover {
			background-color: #777777;
		}
	}
}

/* ---------------------------------------------------
Context: Second
--------------------------------------------------- */
.c-menu--second {
	.menu__list {
		font-size: rem-calc(13);
		letter-spacing: 2.5px;
	}

	.menu__link {
		border-radius: 3px;
		transition: $transition-time-xxl background-color;

		&.is-active {
			color: $color-white;
			background-color: $color-black;
		}


		&:hover {
			color: $color-dusty-grey; 
		}
	}
}

/* ---------------------------------------------------
Context: Footer
--------------------------------------------------- */
.c-menu--footer {
	text-align: center;


	.menu__list {
		letter-spacing: 4px;
		display: inline-block;
	}

	.menu__link {
		color: $color-white;

		&:hover {
			color: $color-dusty-grey;
		}

		&.is-active {
			background-color: $color-white;
			color: $color-black;
		}
	}

	&::after {
		@include underline($color-white);
	}
}


/* ---------------------------------------------------
Context: Offcanvas
--------------------------------------------------- */
.c-menu--offcanvas {
	
	&.is-sub {
		.menu__list {
			background-color: #232323;
			margin-top: 0;
			padding-top: 5px;

			> li > a {
				padding: 15px 0;
			}
		}

		.menu__link {
			color:#9b9b9b;
			font-size: rem-calc(20px);
			letter-spacing: 2px;
		}
	}

	.menu__list {
		padding: 10px;
		background-color: $color-black;
		margin: 12px 12px 0 12px;

		> li > a {
			padding: 10px 0;
		}
	}

	.menu__item {
		border-bottom: 1px solid $color-boulder;
		
		&:last-child {
			border-bottom: none;
		}
	}

	.menu__submenu {
		margin-left: 18px;
		margin-bottom: 10px;
	}

	.menu__link {
		color: $color-white;
		font-size: rem-calc(30px);
		letter-spacing: 2px;
	}

	.menu__submenu-link {
		color:#9b9b9b;
		font-size: rem-calc(20px);
		letter-spacing: 2px;
	}

}

