/* ===================================================
Component: news-teaser
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-news-teaser"] {

	margin-bottom: 20px;

	&.is-left {
		text-align: left
	}

	&:last-child {
		margin-bottom: 0;
	}

	.news-teaser__headline {
		font-family: $header-font-family;
		font-size: rem-calc(18px);
		letter-spacing:0.4px;
		margin-bottom: 10px;
	}

	.news-teaser__text {
		font-size:rem-calc(14px);
		color:#000000;
		letter-spacing:0.2px;
		margin-bottom: 10px;
	}

	.news-teaser__footer {
		text-align: right;
	}


}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-news-teaser--default {
}