/* ===================================================
COMPONENT: PAGINATION
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-pagination"] {
	.pagination__list {
		list-style: none;
	}
	.pagination__list-item {
		width: 30px;
		height: 30px;
		font-family: $header-font-family;
	}
	.pagination__list-element {
	}

	/*
	Modifiers
	----------------------- */
	.is-previous {
	}
	.is-next {
	}
	.is-hidden {
	}
	.is-active {
	}
	.is-disabled {
	}
}

/* ---------------------------------------------------
Context: Default
- REQUIREMENTS: veams-sass
--------------------------------------------------- */
.c-pagination--default {
	$pagination-blue: #333;
	$pagination-light: #ccc;
	$transition-ease-method: ease;

	text-align: center;

	.is-hidden {
		display: none;
	}

	.pagination__list {
		width: auto;
		display: inline-block;
		@include clearfix();
	}

	.pagination__list-item {
		float: left;
		margin-right: 10px;
		width: 30px;
		height: 30px;
		background-color: $color-boulder;
		text-align: center;
		border-radius: 50%;

		&:hover {
			background-color: $pagination-light;
		}

		&.is-active {
			background-color: $color-black;
		}

		.is-hidden {
			@include hidden-text;

			display: block;
		}
	}

	.pagination__list-element {
		color: $color-white;
		display: block;
		line-height: 30px;
		text-decoration: none;
		transition: color 0.2s $transition-ease-method;

		&.is-active {
			color: $pagination-light;
			transition: color 0.2s $transition-ease-method;
		}
	}
}