	/* ===================================================
Component: releases
=================================================== */


/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */

[data-css="c-releases"] {
	
	.releases__headline {
		@extend %h2;
	}

	.releases__list {
		@include grid-row($behavior: nest);
	}

	.releases__item-wrapper {
		width: 50%;
		display: inline-block;
		vertical-align: top;

		@each $breakpoint, $value in $grid-column-gutter {
			@include breakpoint($breakpoint) {
				padding-left: $value/2;
				padding-right: $value/2;
			}
		}
	}

	.releases__item {
		transition: $transition-time-l ease;
		cursor: pointer;

		&.is-disabled {
			opacity: .3;
		}
	}

	.releases__details {
		overflow: hidden;
		max-height: 0;

		&.is-active {
			max-height: 560px;
			transition-delay: 0ms;
		}

		&.is-height-animated {
			transition: max-height $transition-time-l ease, opacity $transition-time-xl ease;
		}
	}

	.releases__inside {
		display: block;
		width: 100%;
		position: relative;
		margin-top: 40px;
		background: #000 url('../img/jpg/slider-bg.jpg');
		padding: 25px;
		color: $color-white;

	}


	.releases__close {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 30px;
		height: 30px;
		background-color: $color-white;
		border-radius: 15px;
		color: $color-black;
		font-weight: bold;

		&::after {
			content: '✕';
			font-size: 20px;
			position: absolute;
			top: 6px;
			left: 6px;
		}

	}
}


/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */

.c-releases--default {
	
	.releases__headline {
		font-size: rem-calc(22);
		padding-top: 20px;

		&::after {
			@include underline($color-black);
			margin: 0;
		}
	}

	.releases__item-wrapper {
		@each $breakpoint, $value in $grid-column-gutter {
			@include breakpoint($breakpoint) {
				margin-bottom: $value*2;
			}
		}

		@include breakpoint(medium) {
			width: (100%/3);
		}

		@include breakpoint(large) {
			width: (100%/4);
		}
	}


}
/* ---------------------------------------------------
Context: Artist
--------------------------------------------------- */
.c-releases--artist {

	.releases__item-wrapper {
		@each $breakpoint, $value in $grid-column-gutter {
		@include breakpoint($breakpoint) {
				margin-bottom: $value;
			}
		}

		@include breakpoint(medium) {
			width: (100%/3);
		}

		@include breakpoint(large) {
			width: (100%/5);
		}
	}
}
