/* ===================================================
Component: sidebar
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-sidebar"] {

	.sidebar__item {
		margin-bottom: 30px;
	}

	.sidebar__headline {
		@extend %h3
	}

	.sidebar__link {
		display: block;
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-sidebar--default {
}