/* ===================================================
PROJECT PROGRESS MODULE
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */

[data-js-module~="slider"] {
	clear: both;
	display: block;
	position: relative;
	overflow: hidden;

	/*
	Unresolved state
	----------------------- */
	&.is-unresolved {
		.slider__list {
			height: 300px;
			overflow: hidden;
		}

		.slider__item {
			opacity: 0;
		}
	}

	/*
	List
	----------------------- */
	.slider__list-wrapper {
		display: block;
		position: relative;
	}

	.slider__list {
		left: 0;
		position: relative;
		transform: translate3d(0, 0, 0);
		transition: left $transition-duration $transition-ease-method;
		@include clearfix();
	}

	.slider__item {
		@include float;

		position: relative;
		opacity: 0.3;
		transition: opacity $transition-duration $transition-ease-method;
		vertical-align: top;

		&.is-active {
			opacity: 1;
		}

		&:first-child {
			margin-left: 0;
		}
	}


	/*
	Pagination
	----------------------- */
	.slider__pagination {
		//@include centering(h);

		bottom: 15px;
	}

	.slider__pagination-list {
		margin: 0;
		padding: 0;
	}

	.slider__pagination-list-item {
		@extend %hidden-text;

		background-color: #fff;
		border-radius: 50%;
		display: inline-block;
		height: 15px;
		margin: 0 5px;
		width: 15px;
		opacity: 0.7;

		&.is-active {
			opacity: 1;
		}
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-slider--default {
	width: 100%;

	.slider__pagination {
		@include centering(h);
		bottom: 15px;
	}
}

/* ---------------------------------------------------
Context: Stage
--------------------------------------------------- */
.c-slider--stage {
	width: 100%;
	min-height: 458px;
	background: url('../img/jpg/slider-bg.jpg') no-repeat center center;
	background-size: cover;
	margin-bottom: 70px;

	.slider__pagination {
		@include centering(h);
		bottom: 15px;
	}

	/*
	Actions
	----------------------- */
	.slider__actions {
		position: absolute;
		bottom: 15px;
		right: 40px;
		@include clearfix();
		z-index: 100;
	}
}

/* ---------------------------------------------------
Context: Teaser Block
--------------------------------------------------- */

.c-slider--block-teaser {
	margin-top: 70px;

	.slider__pagination {
		margin-top: 30px;
	}

	.slider__actions {
		//@include centering("v");
		position: absolute;
		top: calc(50% - 50px);
		width: 100%;
		z-index: 3;
		display: flex;
		justify-content: space-between;
	}

	.slider__pagination-list-item {
		@extend %hidden-text;
		background-color: $color-boulder;

		&.is-active {
			opacity: 1;
		}
	}
}

/* ---------------------------------------------------
Context: Teaser Block
--------------------------------------------------- */

.c-slider--videos {
	display: flex;
	flex-direction: column;

	.slider__pagination {
		display: none;
	}

	.slider__actions {
		margin-top: 20px;
		order: 1;
		text-align: center;
	}

	.slider__pagination-list-item {
		@extend %hidden-text;
		background-color: $color-boulder;

		&.is-active {
			opacity: 1;
		}
	}
}