/* ===================================================
Component: selector
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-selector"] {

	margin-bottom: 60px;

	.selector__trigger-checkbox {
	   position: absolute;
	   top: -9999px;
	   left: -9999px;
	}

	.selector__trigger-label {
		font-family: $header-font-family;
		font-size: 22px;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		border-bottom: 1px solid $color-black;
		padding-bottom: 13px;
		line-height: 1;
		cursor: pointer;
		transition: color $transition-time-l ease;

		&:hover {
			color: $color-dusty-grey;
		}

		&:active {
			color: lighten($color-dusty-grey, 20%);
		}

		&::after {
			content: "▼";
			font-size: 60%;
			margin-left: 9px;
			transition: transform $transition-time-l ease;
		}
	}

	.selector__selects {
		@include grid-row($behavior: nest);
		max-height: 0;
		transition: $transition-time-l ease;
		overflow: hidden;
		padding: 0;
	}

	.selector__selectable-container {
		@include grid-column(12);

		@include breakpoint(medium) {
			@include grid-column(4);
		}
	}

	.selector__selectable {
		display: block;
		padding: 36px 0 13px 0;
		font-family: $header-font-family;
		font-size: 19px;
		border-bottom: 1px solid $color-black;
		line-height: 1;
		transition: color $transition-time-l ease;

		&:hover {
			color: $color-dusty-grey;
		}

		&:active {
			color: lighten($color-dusty-grey, 20%);
		}
	}

	.selector__trigger-checkbox:checked {
		~ label ~ .selector__selects {
			max-height: 400px;
		}

		~ label::after {
			transform: rotate(-180deg);
		}
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-selector--default {
}