/* ===================================================
Component: stage-image
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-stage-image"] {

	width: 100%;
	height: 500px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin-bottom: 50px;
	overflow: hidden;
	transition: $transition-time-l linear;

	&.lazyload {
		filter: blur(5px);
	}

	&.lazyloaded {
		filter: blur(0px);
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-stage-image--default {
}