/* ===================================================
Component: teaser-block
=================================================== */
/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-teaser-block"] {
	width: 100%;
	border-radius: 1px;
	border: solid 1px;
	display: flex;
	flex-direction: column;

	@each $breakpoint, $value in $grid-column-gutter {
	  @include breakpoint($breakpoint) {
		margin-bottom: $value;
	  }
	}

	.teaser-block__headline {
		font-size: 22px;
		font-weight: 400;
		font-family: $header-font-family;
		letter-spacing: .5px;
		text-transform: uppercase;

		&::after {
			@include underline($color-black);
		}
	}

	.teaser-block__content {
		padding: 29px;
	}

	.teaser-block__footer {
		margin-top: auto;
		text-align: center;
		padding: 38px;
	}

	&.is-center {
		text-align: center;
	}
}
/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-teaser-block--default {
	border-color: $color-gallery;

	.teaser-block__footer {
		background-color: $color-dark;
	}
}

.c-teaser-block--light {
	border-color: $color-mercury;

	.teaser-block__footer {
		background-color: $color-gallery;
	}
}

.c-teaser-block--dark {
	border-color: $color-dark;
	background-color: $color-dark;

	.teaser-block__headline {
		color: #fff;

		&:after {
			background-color: #fff;
		}
	}

	.teaser-block__footer {
		background-color: $color-dark;
	}
}

.c-teaser-block--spotify {
	border-color: $color-dark;
	background-color: $color-black;

	.teaser-block__content {
		padding: 0;
		height: 100%;
		position: relative;
		background: $color-black url('../img/svg/ripple-white.svg') center center no-repeat;
		background-size: 50px;

		> iframe {
			width: 100%;
			height: 100%;
		}
	}

	.teaser-block__footer {
		background-color: $color-dark;
	}
}
