/* ===================================================
Component: text
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-text"] {

	.text__headline {
		font-family: $header-font-family;
		font-size: rem-calc(42);
		text-transform: uppercase;
		letter-spacing:0.95px;
		line-height: rem-calc(42);
		margin-top: 0;
		margin-bottom: 27px;
	}
}

/* ---------------------------------------------------
Context: Releases
--------------------------------------------------- */
.c-text--releases {
	margin-bottom: 20px;

	@include breakpoint(medium) {
		margin-bottom: 70px;
	}


}