/* ===================================================
Component: video
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-video"] {
	position: relative;

	.video__wrapper {
		@include flex-video(16 by 9);
		background: url('../img/svg/ripple.svg') center center no-repeat;
		background-size: 50px;
	}

	.video__title {
		font-family: $header-font-family;
		font-size: 18px;
		margin-bottom: 10px;
	}

	.video__copy {
		font-size: 14px;
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-video--default {
	.video__wrapper {
		margin-bottom: 12px;
	}
}

/* ---------------------------------------------------
Context: Artist
--------------------------------------------------- */
.c-video--artist {
	margin-top: 90px;
	margin-bottom: 50px;
}

/* ---------------------------------------------------
Context: Article
--------------------------------------------------- */
.c-video--article {
	margin-bottom: 30px;
}
