<div class="sidebar__item">
 	{{#if headline}}
 		<h3 class="sidebar__headline">{{headline}}</h3>
 	{{/if}}

 	<div class="sidebar__content">
 		{{#if links}}
 			{{#each links}}
 				<a href="{{href}}" title="{{text}}" class="sidebar__link">{{text}}</a>
 			{{/each}}
 		{{else}}
 			{{{yield}}}
 		{{/if}}
 	</div>
</div>   