{{! ---
block: b-stage-content
============================================

Requirements:
- (only hbs)

Options:
- stageContentClasses {String} - Modifier classes

Important Notes:

--- }}

<article class="b-stage-content{{#if stageContentClasses}} {{stageContentClasses}}{{/if}}">
     <div class="stage-content__container">
     	<div class="stage-content__imagewrapper">
     		<img src="{{image.url}}" alt="{{image.title}}" title="{{image.title}}">
     	</div>
     	<div class="stage-content__article">
     		<h2 class="stage-content__headline">{{headline}}</h2>
     		<div class="stage-content__text">
     			{{{text}}}
     		</div>
     	</div>
     </div>
</article>
