{{! ---
block: b-release-details
============================================

Requirements:
- (only hbs)

Options:
- releaseDetailsClasses {String} - Modifier classes

Important Notes:

--- }}


<div class="b-release-details{{#if releaseDetailsClasses}} {{releaseDetailsClasses}}{{/if}}">
    <div class="release-details__cover">
        {{> c-figure }}
    </div>
    <div class="release-details__content">
        <span class="release-details__artist">{{artist}}</span>
        <h3 class="release-details__release">{{release}}</h3>
        <div class="release-details__text">{{text}}</div>
        <div class="release-details__cta">
            {{#with cta}}
                {{> c-cta}}
            {{/with}}
        </div>
        <div class="release-details__buylinks">
            <div class="release-details__buylink is-itunes"></div>
            <div class="release-details__buylink is-amazon"></div>
            <div class="release-details__buylink is-spotify"></div>
            <div class="release-details__buylink is-apple-music"></div>
            <div class="release-details__buylink is-deezer"></div>
        </div>
    </div>
</div>
