{{! ---
block: b-social-icons
============================================

Requirements:
- (only hbs)

Options:
- socialIconsClasses {String} - Modifier classes

Important Notes:

--- }}


<div class="b-social-icons{{#if socialIconsClasses}} {{socialIconsClasses}}{{/if}}">
	{{#each icons}}
		<a href="{{url}}" title="{{name}}" target="_blank" class="social-icons__link{{#if iconClass}} {{iconClass}}{{/if}}"></a>
	{{/each}}
</div>
