.r-header {
	border-top: 5px solid $color-black;

	@include breakpoint(medium) {
		margin-top: 32px;
		margin-bottom: 60px;
		border-top: none;		
	}

	@include grid-row();

	.header__inner {
		@include grid-column(12);
		display: flex;
		align-items: center;
	}

	.header__content {
		flex-grow: 1;
	}
}