.r-main {
	@include grid-column-row();
	padding-bottom: 90px;

	@include breakpoint(small only) {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.row {
		@include grid-row($behavior: nest);
	}
}