{{! ---
component: c-menu
============================================

Requirements:
- (only hbs)

Options:
- menuContextClass {String} [default] - Just pass a string
- menuClasses {String} - Modifier classes

Important Notes:

--- }}
<div class="c-menu{{#if menuContextClass}}--{{menuContextClass}}{{else}}--default{{/if}}{{#if menuClasses}} {{menuClasses}}{{/if}}" data-css="c-menu" data-js-module="menu">
    <ul class="menu__list">
        {{#each data}}
            <li class="menu__item">
                <a href="{{assets }}{{this.url}}" class="menu__link {{#is @root.menuLink name}}is-active{{/is}}" data-js-atom="link">{{ name }}</a>
                {{#if submenu}}
                    <ul class="menu__submenu" data-js-atom="submenu">
                        {{#each submenu}}
                            <li class="menu__item is-submenu"><a href="{{this.url}}" class="menu__submenu-link">{{ name }}</a></li>
                        {{/each}}
                    </ul>
                {{/if}}
            </li>
        {{/each}}
    </ul>
</div>
