{{! ---
component: c-text
============================================

Requirements:
- (only hbs)

Options:
- textContextClass {String} [default] - Just pass a string
- textClasses {String} - Modifier classes

Important Notes:

--- }}


<div class="c-text{{#if textContextClass}}--{{textContextClass}}{{else}}--default{{/if}}{{#if textClasses}} {{textClasses}}{{/if}}"
     data-css="c-text">
     {{#if headline}}
     	<h1 class="text__headline">{{headline}}</h1>
     {{/if}}
     <div class="text_copy">{{copy}}</div>
</div>
