{{! ---
block: b-navigation
============================================

Requirements:
- (only hbs)

Options:
- navigationClasses {String} - Modifier classes

Important Notes:

--- }}


<div class="b-navigation{{#if navigationClasses}} {{navigationClasses}}{{/if}}" data-js-module="navigation">
	<div class="navigation__menu-icon-wrapper" data-js-atom="menu-icon">
		<div class="navigation__menu-icon"></div>
	</div>
	<div class="navigation__logo">
        {{#with logo}}
		    {{> b-logo}}
        {{/with}}
	</div>

	<div class="navigation__menu" data-js-atom="navigation-menu">
		<div class="navigation__wrapper is-main">
			{{#with main}}
				{{> c-menu}}
			{{/with}}
			<div class="navigation__icons">
				{{#with @root.social-icons}}
					{{> b-social-icons}}
				{{/with}}
			</div>
		</div>
		<div class="navigation__wrapper">
			<div class="navigation__subtext">
				WOLFPACK ENTERTAIMENT BERLIN EST. 2008
			</div>
			{{#with sub}}
				{{> c-menu}}
			{{/with}}
		</div>
	</div>
</div>
