{{! ---
block: b-footer-text
============================================

Requirements:
- (only hbs)

Options:
- footerTextClasses {String} - Modifier classes

Important Notes:

--- }}


<div class="b-footer-text{{#if footerTextClasses}} {{footerTextClasses}}{{/if}}">
© 2016 WOLFPACK ENTERTAIMENT | DESIGN BY ERSTELLBAR   
</div>
