{{! ---
component: c-figure
============================================

Requirements:
- (only hbs)

Options:
- figureContextClass {String} [default] - Just pass a string
- figureClasses {String} - Modifier classes

Important Notes:

--- }}


<figure class="c-figure{{#if figureContextClass}}--{{figureContextClass}}{{else}}--default{{/if}}{{#if figureClasses}} {{figureClasses}}{{/if}}" data-css="c-figure">
    {{#if image}}
        {{#if url}}<a href="{{url}}">{{/if}}
        <div class="figure__image-wrapper lazyload">
            <img class="figure__image lazyload" src="{{image.placeholder}}" data-sizes="auto" data-src="{{image.src}}" data-srcset="{{#each image.srcset}}{{this}}, {{/each}}" title="{{ image.title }}" alt="{{ image.title }}">
        </div>
        {{#if url}}</a>{{/if}}
    {{/if}}

    {{#if figcaption}}
        <figcaption class="figure__figcaption">
            {{#with figcaption}}
                {{#if url}} <a href="{{url}}">{{/if}}

                {{#if subcaption}}
                    <div class="figure__subcaption">{{ subcaption }}</div>
                {{/if}}
                {{#if caption}}
                    <div class="figure__caption">{{ caption }}</div>
                {{/if}}

                {{#if url}}</a>{{/if}}
            {{/with}}
        </figcaption>
    {{/if}}
</figure>
