{{! ---
block: b-vcards
============================================

Requirements:
- (only hbs)

Options:
- vcardsClasses {String} - Modifier classes

Important Notes:

--- }}


<div class="b-vcards{{#if vcardsClasses}} {{vcardsClasses}}{{/if}}">
	<div class="cards__head-wrapper">
		<div class="cards__image">
			{{> c-figure figure}}
		</div>
		<div class="cards__header">
			<div class="cards__headline">{{headline}}</div>
			<div class="cards__desc">{{desc}}</div>
			{{> b-social-icons social}}
		</div>
	</div>
	<div class="cards__copy">
		<h3 class="cards__copy-headline">Aufgaben</h3>
		{{text}}
	</div>  
</div>
