{{! ---
component: c-teaser-block
============================================

Requirements:
- (only hbs)

Options:
- teaserBlockContextClass {String} [default] - Just pass a string
- teaserBlockClasses {String} - Modifier classes

Important Notes:

--- }}


<section class="c-teaser-block{{#if teaserBlockContextClass}}--{{teaserBlockContextClass}}{{else}}--default{{/if}}{{#if teaserBlockClasses}} {{teaserBlockClasses}}{{/if}}" data-css="c-teaser-block">
    <div class="teaser-block__content">
        {{#if teaserBlockTitle}}
            <h2 class="teaser-block__headline">{{teaserBlockTitle}}</h2>
        {{/if}}
        {{{yield}}}
    </div>
    {{#if cta}}
        {{#with cta}}
            <div class="teaser-block__footer">
                {{> "c-cta"}}
            </div>
        {{/with}}
    {{/if}}
</section>
